/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

:root {
  --font-p-pri: 1.4rem;
  --font-p-sec: 1.2rem;
  --font-p-thi: 1rem;
}

html, body, div, span, iframe, h1, p, a, img, small, ul, li, label, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
header, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul, li {
  list-style: none;
}

/* LogManager Css */
.window {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-transition: -moz-transform 0.3s ease;
}

.title {
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(#74B042, #56A00E) repeat scroll 0 0 #74B042;
  border: 0px solid #56A00E;
  text-align: center;
}

.title h1 {
  padding-top: 0.5rem;
  font-size: var(--font-p-pri);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 1px #335413;
  color: #fff;
}

.titleBar {
  background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
  border: 1px solid #456F9A;
  height: 2.5rem;
  margin: 0.5rem 0.5rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.titleBar span {
  font-size: var(--font-p-pri);
  font-weight: bold;
  text-shadow: 0 1px 1px #335413;
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 0.5rem;
}

.content {
  margin: 0 0.5rem;
}

.contentBar {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  height: 40px;
  margin: 0 0.5rem;
}

.first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #CCCCCC;
}

.first-child:hover {
  border: 1px solid #BBBBBB;
}

.first-child2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #CCCCCC;
}

.last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.last-child:active{
  border: 1px solid #BBBBBB;
}

.last-child2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contentBar:hover {
  background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
.contentBar:active {
  background: linear-gradient(#D0D0D0, #DFDFDF) repeat scroll 0 0 #D6D6D6;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
.contentBar span {
  color: #222222;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding-left: 20px;
  padding-top: 10px;
}

.desLabel {
  font-size: var(--font-p-thi);
}

.group {
  height: 70px;
  border: #CCC 1px solid;
  border-radius: 10px;
  margin: 5px;
  display: block;
}
.group span input {
  display: none;
}
.group span label {
  background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE;
  display: block;
  width: 100% ;
  height: 27px;
  padding-left: 43px;
  padding-top: 8px;
  color: #222222;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}
.group span label:hover {
  background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF;
}
.group span label:active {
  background: linear-gradient(#D0D0D0, #DFDFDF) repeat scroll 0 0 #D6D6D6;
}
.group span input + label span {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 20px;
  margin-top: -4px;
  background: url(images/radio.png) no-repeat center top;
}
.group span input:checked + label span {
  background-position: center bottom;
}
.group span:first-child > label {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: #CCC 1px solid;
}
.group span:last-child > label {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

a:link {
  text-decoration: none;
}

a.menu-item:after {
  background: #aaaaaa url("images/icons-18-white.png") -107px;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  position: relative;
  float: right;
  right: 1rem;
  bottom: 1rem;
}

#home {
  position: relative;
  display: block;
  left: 1rem;
  top: -1.5rem;
  width: 1.8rem;
  height: 1.8rem;
}

.back {
  background: url("images/icons-18-white.png") -139px no-repeat;
  border-radius: 2rem;
  float: left;
  box-shadow: 0 0 1rem yellow;
}

.back:hover {
  box-shadow: 0 0 1rem green;
}

.loading {
  background: url("images/ajax-loader.png") center center;
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  right: 10px;
  top: 2px;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: load;
  display: none;
}

@-moz-keyframes load{
0% {
  transform: rotate(0deg);
}
25% {
  transform: rotate(90deg);
}
50% {
  transform: rotate(180deg);
}
75% {
  transform: rotate(270deg);
}
100% {
  transform: rotate(360deg);
}
}

.nextWindow {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -moz-transition: -moz-transform 0.3s ease;
  -moz-transform: translateX(100%);
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: none;
}

#nextFrame {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.pack-switch {
  height: 2rem !important;
}

input {
  width: 1rem;
  height: 1rem;
}

.pack-switch > input[type="checkbox"] {
  width: 1.2rem;
}

body {
  overflow-y: scroll;
}

body.pageChange #nextWindow {
  -moz-transform: translateX(0);
}

body.pageChange #window {
  -moz-transform: translateX(-100%);
}

.button {
  width: 5rem;
  background-color: #999;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.8rem;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: var(--font-p-pri);
}

.button:active {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.button:disabled {
  background: #65a9d7;
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  color: #EEE;
  outline: none;
  outline-style: none;
}

.fontLeftBold {
  float: left;
  padding: 0 0.5rem;
  font-size: var(--font-p-sec);
}

.fontRight {
  float: right;
  padding: 0 0.5rem;
  font-size: var(--font-p-thi);
}

.divContent {
  background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  height: 3.5rem;
}

:focus {
  background-color: rgba(0,234,255, .4) !important;
  outline: none !important;
}

