#os-logo {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 65538;
  opacity: 1;
  transition: opacity 1s ease 2s;
  pointer-events: none;
}

#carrier-logo {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#os-logo > img,
#carrier-logo > img,
#poweroff-splash > img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity 1s ease 2s;
  object-fit: cover;
}

#carrier-logo > video,
#poweroff-splash > video {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity 1s ease;
}

#carrier-logo.transparent {
  background: transparent;
}

#carrier-logo > img.hide,
#carrier-logo > video.hide,
#os-logo.hide,
#poweroff-splash > img.hide,
#poweroff-splash > video.hide {
  opacity: 0;
}

@media (min-width: 1200px) and (orientation: landscape) {
  #os-logo {
    background: #000 url('/shared/resources/branding/initlogo_large.png') no-repeat center / cover;
  }
}
