/* Overriding BB styles for headers */
section[role="region"] > header:first-child .icon {
  pointer-events: auto;
}

/* Overriding BB styles for edit mode */
form[role="dialog"][data-type="edit"] gaia-header {
  pointer-events: auto;
}

#call-log-container[data-type="list"] section {
  background: #fff;
}

#sticky {
  position: absolute;

  /* The sticky element is positioned at the beginning of the list. */
  top: 0;

  /* The width is not 100% so the scrollbar is visible. */
  width: 100%;

  /* The height needs to be kept in sync with the header height. */
  height: 3.1rem;

  /* Those style will affect the bagroundImage: -moz-element. */
  background-repeat: no-repeat;
}

#sticky:not(.has-content) {
  /* Set sticky header visible only when content is ready */
  visibility: hidden;
}

#call-log-container[data-type="list"] header {
  background: #fff;
}

/* Override Building Block styles for lists */
#call-log-container[data-type="list"] {
  padding: 0;
}

#call-log-container[data-type="list"] header {
  margin: 0;
  font-size: 14px;
  height: 2.4rem;
  background-color: var(--color-gs10);
  color: var(--color-gs70);
  line-height: 2.4rem;
  font-weight: 400;
  text-transform: none;
}

#call-log-container[data-type="list"] ol {
  /*padding: 0 1.5rem;*//*new ui spec changes*/

  /* Bug 967880 - [Call Log] Background doesn't scroll with the logs causing
   * expensive over-invalidation.
   */
  background-color: white;
}

#call-log-container[data-type="list"] li {
  height: 7rem;
  -moz-box-sizing: border-box;
}

#call-log-container[data-type="list"] li.min {
  height: 6rem;
}

#call-log-container[data-type="list"] li.min .additional-info {
}


/* For preventig active status with withheld number */
#call-log-container[data-type="list"] li[data-phone-number=""]:after,
#call-log-container[data-type="list"] li[data-phone-number=""]:active:after {
  background-color: transparent;
}

.recents-edit #call-log-container[data-type="list"] li a p {
  margin-left: 0;
}

.recents-edit #call-log-container[data-type="list"] li a p:nth-last-of-type(3) {
  margin-left: 0;
}

button[disabled], input[type="text"][disabled] {
  pointer-events: none;
}

input[type="text"][disabled], a.bb-button[disabled] {
  opacity: 0.3;
}

li, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

.hide {
  display: none;
}

.view-body {
  font-family: "gaia-icons";
  color: black;
  height: calc(100% - var(--statusbar-height) - var(--softkeybar-height));
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.view-body-inner {
  height: 100%;
  overflow: auto;
}

.view-body-inner ol {
  overflow: hidden;
}

.icon-container {
  float: left;
  height: 100%;
  width: 5rem;
}

.log-item * {
  pointer-events: none;
}

.log-item .primary-info {
  display: flex;
}

/* Decrease padding defined by BB styles to compensate increased line-height */

:root {
  --primary-info-size: 1.7rem;
  --call-time-info-size: 1.2rem;
  --additional-info-size: 1.2rem;
  --ci-details-size: 1.4rem;
}

:root .large-text {
  --primary-info-size: 2.2rem;
  --call-time-info-size: 1.6rem;
  --additional-info-size: 1.6rem;
  --ci-details-size: 1.7rem;
}
.log-item .primary-info:first-of-type {
  padding-top: 0.5rem;
  font-size: var(--primary-info-size);
}

.log-item .call-time-info {
  font-size: var(--call-time-info-size);
  margin-bottom: 0.5em;
}

.log-item a > p {
  width: calc(100% - 9rem);
}

.log-item .primary-info-main {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-item .primary-info-main bdi {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-item .retry-count {
  -moz-margin-start: 0.5rem;
}

.log-item .additional-info {
  display: inline-flex;
  justify-content: space-between;
  font-size: var(--additional-info-size);
}

.log-item .type-carrier {
  overflow: hidden;
  text-overflow: ellipsis;
  /*margin-left: 10px;*/
}

.log-item .call-time {
  -moz-margin-start: 0;
}

.log-item .pack-checkbox-large {
  visibility: hidden;
}

.log-item.filtered {
  display: none;
}

#call-log-container .groupFiltered {
  display: none;
}

/* Edit mode state */
.recents-edit form[role="dialog"][data-type="edit"] header,
.recents-edit form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(0);
}

.recents-edit .pack-checkbox.call-log-selection {
  transform: translateX(4rem);
}

.recents-edit .log-item a {
  transform: translateX(3rem);
  visibility: hidden;
}

.recents-edit .log-item a > aside,
.recents-edit .log-item a > p {
  visibility: visible;
}

.recents-edit .log-item a > p {
  width: calc(100% - 4rem);
}

.recents-edit .log-item .pack-checkbox-large {
  pointer-events: auto;
  visibility: visible;
  width: 100%;
  left: 0;
}

.theme-communications h1 {
  background-color: var(--header-background);
  line-height: var(--header-height);
  margin: 0;
  text-align: center;
  height: var(--header-height);
  color: var(--color-gs00);
}

/*set selected list item width on full width*/
.recents-edit #call-log-container[data-type="list"] ol{
  padding: 0 !important;
}
/*hide down menu*/
.recents-edit #edit-mode menu{
  display: none;
}
/*set header select unselect text in right side*/
.recents-edit #header-edit-mode-text{
  margin: 0 !important;
  width: calc(100vw - 97px);
  text-align: center !important;
  padding-right: 1rem !important;
  font-style: normal !important;
  font-size: 17px !important;
  font-weight: 300 !important;
}
/*header right delete buton must be hide by UI spec*/
.recents-edit #edit-mode-header #delete-button{
  visibility: hidden;
  min-width: 0 !important;
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
}
/*static text "edit" on left side in header*/
.recents-edit .edit-mode-static-header{
  float: left;
  margin: 0 !important;
}
/*
  No result container
*/
#no-result-container {
  height: 100%;
  margin: 0 1.5rem;
}

#no-result-message {
  position: relative;
  top: 25%;
  padding: 1rem 1.5rem;
}

#no-result-message > p {
  text-align: center;
  color: var(--color-gs90);
  margin: 0;
}

.recents-edit #edit-mode {
  display: block;
  top: var(--statusbar-height, 2.6rem);
}

/*.recents-edit .view-body {*/
/*  height: calc(71%);*/
/*}*/

/* RTL View */
html[dir="rtl"] .icon-container {
  float: right;
}

html[dir="rtl"] .recents-edit .pack-checkbox.call-log-selection {
  transform: translateX(-4rem);
}

html[dir="rtl"] .recents-edit .log-item a {
  transform: translateX(-7rem);
}

html[dir="rtl"] #sticky {
  background-position: 100% 0;
}
[data-type="list"] aside.icon.call-type-icon {
  float: right;
  padding-right: 0.6rem;
  font-size: 3.2rem;
  margin-top: 1rem;
  height: 3.2rem;
  line-height: 100%;
}
html[dir="rtl"] [data-type="list"] aside.icon.call-type-icon{
  float: left;
  padding-left: 0.6rem;
  padding-right: 0;
  transform: scale(-1, 1);
  margin-left: 0.7rem;
}
[data-type="list"] aside.icon.call-type-icon::before {
  color: var(--color-lime);
  line-height: inherit;
  width: 3.2rem;
}
[data-type="list"] aside.icon.call-type-icon[data-icon*="missed"]::before {
  color: var(--color-red);
}

[data-type="list"] aside.icon.contact-type-icon {
  float: left;
  border-radius: 1.2rem;
  padding: 0;
  width: 3.2rem !important;
  height: 3.2rem !important;
  margin: 1rem 1rem 1.8rem 0.8rem;
  background-color: var(--highlight-color);
  background-image: url('icons/ic_default_contact.png');
  background-position: bottom;

}
html[dir="rtl"] [data-type="list"] aside.icon.contact-type-icon {
  float: right;
  margin: 1rem 0.8rem 1.8rem 1rem;
}
[data-type="list"] .focus aside.icon.call-type-icon::before {
  color: var(--color-gs00);
}

[data-type="list"] .focus aside.icon.contact-type-icon {
  background-position: top;
  background-color: var(--color-gs00);
}

[data-type="list"] aside.icon.contact-type-icon:not(.default) {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recents-edit [data-type="list"] aside.icon.contact-type-icon {
  display: none;
}
.focus span,
.focus bdi {
  color: white;/*new UI spec*/
}
[data-type="list"] li > a {
  width: 100%;
  height: 100%;
}

[data-type="list"] li a p {
  line-height: 100%;
}

[data-type="list"] aside.icon {
    width: 2.4rem !important;
    -moz-margin-end: 10px;
}
[data-type="list"] aside.contact-type-icon {
    -moz-margin-end: 0;
}

.recents-edit [data-type="list"] li > a{
  width: calc(100% - 5.2rem);
  left: 2.2rem;
}
html[dir="rtl"] .recents-edit [data-type="list"] li > a {
  width: calc(100% - 5rem);
  left: 2rem;
}
.focus label.pack-checkbox-large input ~ div::before {
  color: var(--color-gs45);
}

.focus label.pack-checkbox-large input:checked ~ div::before {
  color: var(--color-gs00);
}

label.pack-checkbox-large input ~ div::before {
  font-family: "gaia-icons";
  content: "check-off";
  position: absolute;
  font-size: 3.2rem;
  color: var(--color-gs45);
  left: 1rem;
  top: 1rem;
}
html[dir="rtl"] label.pack-checkbox-large input ~ div::before {
  left: unset;
  right: 5rem;
}
label.pack-checkbox-large input:checked ~ div::before {
  color: var(--highlight-color);
  content: "check-on";
}

#mainmenu {
  max-height: calc(100% - var(--header-height) - var(--statusbar-softkeybar-height));
}

#call-log-upgrading {
  /* 3rem: nav#call-log-filter tab height */
  top: calc(var(--statusbar-height) + var(--header-height) + 3rem);
}

#call-log-upgrade-percent {
  display: none;
}

#call-log-upgrading:not([hidden]) section {
  opacity: 0;
  animation: call-log-upgrading-fadein 1s .5s linear forwards;
}

@keyframes call-log-upgrading-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.large-text #call-log-container[data-type="list"] li {
  height: 8rem;
}

.large-text [data-type="list"] li p:first-of-type {
  line-height: 2.8rem;
}

.large-text [data-type="list"] li a p {
  line-height: 2rem;
}

.large-text #call-log-container[data-type="list"] header {
  font-size: 1.8rem;
}

@media only screen and (orientation: landscape) {
  #calllog {
    display: none;
  }

  .view-body {
    height: calc(100% - 2.7rem);
  }
}

html[dir="rtl"] #call-log-container[data-type="list"] header {
  padding-right: 1.5rem;
}
