<!-- Add for task 5191172 by yingsen.zhang@t2mobile.com 20170928 begin -->
<!-- Add for SIM Card rename panel -->
<element name="rename-sim-card" extends="section">
  <template>

    <gaia-header data-href="#sim-manager">
      <h1 data-l10n-id="rename-sim-card">Rename SIM Card</h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem">
          <span data-l10n-id="sim-card-name">SIM Card Name</span>
          <input id="update-sim-card-name-input" value="" dir="auto" type="text" maxLength="5">
        </li>
      </ul>
      <p class="ums-confirm description" data-l10n-id="change-sim-card-name-desc"></p>
    </div>

    <panel data-path="panels/simcard_manager/rename_sim_card/panel"></panel>
  </template>
</element>
<!-- Add for task 5191172 by yingsen.zhang@t2mobile.com 20170928 end -->
